<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
<%- include('partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/img/banneroferta.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="<%=productos[0].imagen%>" alt="<%=productos[0].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=productos[0].nombre%></h2>
							<p><%=productos[0].descripcion%></p>
							<p>Comentarios:</p>
							<p><%= productos[0].comentarios[0].usuario %>: <%= productos[0].comentarios[0].texto %></p>
							<p><%= productos[0].comentarios[1].usuario %>: <%= productos[0].comentarios[1].texto %></p>
							<p><%= productos[0].comentarios[2].usuario %>: <%= productos[0].comentarios[2].texto %></p>
							<p><%= productos[0].comentarios[3].usuario %>: <%= productos[0].comentarios[3].texto %></p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="<%=productos[1].imagen%>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%=productos[1].nombre%></productos></h2>
							<p><%=productos[1].descripcion%></p>
							<p><%= productos[1].comentarios[0].usuario %>: <%= productos[1].comentarios[0].texto %></p>
							<p><%= productos[1].comentarios[1].usuario %>: <%= productos[1].comentarios[1].texto %></p>
							<p><%= productos[1].comentarios[2].usuario %>: <%= productos[1].comentarios[2].texto %></p>
							<p><%= productos[1].comentarios[3].usuario %>: <%= productos[1].comentarios[3].texto %></p>
						
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/img/mc12.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%=productos[2].nombre%></h2>
							<p><%=productos[2].descripcion%></p>
							<p><%= productos[2].comentarios[0].usuario %>: <%= productos[2].comentarios[0].texto %></p>
							<p><%= productos[2].comentarios[1].usuario %>: <%= productos[2].comentarios[1].texto %></p>
							<p><%= productos[2].comentarios[2].usuario %>: <%= productos[2].comentarios[2].texto %></p>
							<p><%= productos[2].comentarios[3].usuario %>: <%= productos[2].comentarios[3].texto %></p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/img/jaguar.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%=productos[3].nombre%></h2>
							<p><%=productos[3].descripcion%></p>
							<p><%= productos[3].comentarios[0].usuario %>: <%= productos[3].comentarios[0].texto %></p>
							<p><%= productos[1].comentarios[1].usuario %>: <%= productos[1].comentarios[1].texto %></p>
							<p><%= productos[1].comentarios[2].usuario %>: <%= productos[1].comentarios[2].texto %></p>
							<p><%= productos[1].comentarios[3].usuario %>: <%= productos[1].comentarios[3].texto %></p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>