<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>

	<%- include('partials/header') %>

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre_producto %></h2>
			<p class="product-detail-description">
				<a href="/producto/productadd" class="vinculo-editar">Editar</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/img/<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
				</article>

				<div class="col-12 col-lg-4">
					<p class="usuariopublicacion">
						Publicado por: 
						<a href="/producto/perfil/<%= producto.user.id %>">
							<%= producto.user.nombre_usuario %>
						</a>
					</p>

					<section class="comments">
						<% for (let i = 0; i < producto.comentario.length; i++) { %>
							<article>
								<div class="data">
									<p class="user">
										<strong>
											<a href="/producto/perfil/<%= producto.comentario[i].user.id %>">
												<%= producto.comentario[i].user.nombre_usuario %>:
											</a>
										</strong>
										<%= producto.comentario[i].texto %>
									</p>
								</div>
							</article>
						<% } %>
					</section>

					<form class="form" action="/producto/<%= producto.id %>/comentario" method="POST">
						<input class="form-input" type="text" name="texto" placeholder="Agregar comentario" required>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>
</html>
