<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>

	<%- include('partials/header') %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/img/<%= usuario.foto_perfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center">
					<h1 class="main-title">
						<%= usuario.nombre_usuario %>
						<p><%= usuario.email %></p>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul>
						<li><%= productos.length %> productos</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>

			<% for (let i = 0; i < productos.length; i++) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">

						<a href="/producto/detalle/<%= productos[i].id %>">
							<div class="product-box_image">
								<img src="/img/<%= productos[i].imagen %>" alt="<%= productos[i].nombre_producto %>">
							</div>
							<article class="product-box_data">
								<h2><%= productos[i].nombre_producto %></h2>
								<p><%= productos[i].descripcion %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>
</html>
