<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Resultados para: <%= busqueda %></h2>
            <% if (productos.length == 0) { %>
                <p>No hay resultados para su criterio de búsqueda</p>
            <% } %>
        </div>

        <% for (let i = 0; i < productos.length; i++) { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/producto/detalle/<%= productos[i].id %>">
                        <div class="product-box_image">
                            <img src="/img/<%= productos[i].imagen %>" alt="<%= productos[i].nombre_producto %>">
                        </div>
                        <article class="product-box_data">
                            <h2><%= productos[i].nombre_producto %></h2>
                            <p><%= productos[i].descripcion %></p>
                            <p>
                                Publicado por: 
                                <a href="/producto/perfil/<%= productos[i].user.id %>">
                                    <%= productos[i].user.nombre_usuario %>
                                </a>
                            </p>
                        </article>
                    </a>
                </section>
            </div>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>
</body>
</html>
